{% extends "layout.html" %}

{% block body %}

<article class="container animate__animated animate__fadeIn">
    <header>
        
    </header>
<!-- safe is making Flask ignore the html tags -->

<br>
<div id="sub" class="shadowcard">
    <img class="invite-photo" alt="Malik Piara" src="{{url_for('static', filename='malik.png')}}">
    <h2 class="title mb0">Malik invited you to join <i>Moonwith:Belt</i></h2>
    <span>Join private dinner parties, get freelancing gigs, comment on Moonwith's blog and stay with Malik's friends across the world.</span>
    
    <form class="newsletter" action="/join" name="subscriptions">
        <button type="submit" class="button-big">Continue</button>
    </form>
    <small>By joining Moonwith, <a target="_blank" href="https://www.brynk.eco/our-projects">you'll be planting one tree at an endangered area.</a></small>
</div>
<br>
</article>
{% endblock %}