{% extends "layout.html" %}

{% block body %}

<article class="flex-container animate__animated animate__fadeIn">
    <section class="signup">
        <h2>Sign In</h2>
            
            <input type="email" id="email" name="email" placeholder="Type your email" autocomplete="off" required>
            
            <br/><br/>

            <input type="password" id="password" name="password" placeholder="Type your new password" autocomplete="off" required>

            <br/><br/>
            
            <button type="submit" class="button-big">Sign In</button>

            <small>By joining Moonwith, <a target="_blank" href="https://www.brynk.eco/our-projects">you'll be planting one tree at an endangered area.</a></small>
        
    </section>
    

<br>

<br>
</article>
{% endblock %}