{% extends "layout.html" %}

{% block body %}

<div class="main_section_grid">

    <h2 class="">People</h2>
    
    <div class="flex_container">
        
        <div class="people-container">

            {% for user in users %}
            <div class="person-container">
                <div class="profile-picture-container">
                    <div class="profile-photo-initials">
                        {{ user[0] }}{{ user[1] }}
                    </div>
                </div>
                <div class="name-label">{{ user }}</div>
            </div>
            {% endfor %}
            
        </div>
        
    </div>
</div>

{% endblock %}