{% extends "layout.html" %}

{% block body %}

<article class="flex-container animate__animated animate__fadeIn">
    <section class="signup">
        <h2>Sign Up</h2>
        
            <p>Join an exclusive community, comment on Moonwith's blog and crash on Malik's couch.</p>

            <form class="flex column gap20" id="subscribe" method="POST">
                {{ form.hidden_tag() }}
    
                {{ form.first_name(placeholder="Type your first name") }}
                {{ form.last_name(placeholder="Type your last name") }}
    
                {{ form.location(placeholder="Type your current location") }}
                {{ form.description(placeholder="What can you do for the family? E.g. startup advice, yoga lessons, event organisation") }}
    
                {{ form.email(placeholder="Type your email") }}
                {{ form.password(placeholder="Type your new password") }}
                {{ form.password2(placeholder="Repeat your password") }}
                
                {{ form.submit(class="button-big") }}
            </form>

            <br/><br/>

            <small>By joining Moonwith, <a target="_blank" href="https://www.brynk.eco/our-projects">you'll be planting one tree at an endangered area.</a></small>
        
    </section>
    

<br>

<br>
</article>
{% endblock %}